USE [master]
GO
/****** Object:  Database [QuanLiFastFood]    Script Date: 11/1/2020 10:38:10 ******/
CREATE DATABASE [QuanLiFastFood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiFastFood', FILENAME = N'D:\SQLServer\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLiFastFood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiFastFood_log', FILENAME = N'D:\SQLServer\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLiFastFood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiFastFood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiFastFood]
GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[idCB] [nvarchar](50) NOT NULL,
	[imgCB] [nvarchar](50) NOT NULL,
	[giaCB] [float] NOT NULL,
	[ctCB] [nvarchar](50) NULL,
 CONSTRAINT [PK_COMBO] PRIMARY KEY CLUSTERED 
(
	[idCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADONBAN]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADONBAN](
	[idHD] [nvarchar](50) NOT NULL,
	[idSP] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaTien] [float] NOT NULL,
	[ngayTao] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADONNHAP]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADONNHAP](
	[idCT] [nvarchar](50) NOT NULL,
	[idNV] [nvarchar](50) NOT NULL,
	[idNCC] [nvarchar](50) NOT NULL,
	[ngayTaoHD] [date] NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaTien] [float] NOT NULL,
 CONSTRAINT [PK_CTHOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[idCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNGUYENLIEU]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNGUYENLIEU](
	[idCT] [nvarchar](50) NOT NULL,
	[idNguyenLieu] [nvarchar](50) NOT NULL,
	[ghiChu] [text] NOT NULL,
	[soLuong] [int] NOT NULL,
	[tinhTrang] [text] NOT NULL,
	[donVi] [text] NULL,
 CONSTRAINT [PK_CTNGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[idCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTSANPHAM]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSANPHAM](
	[idSP] [nvarchar](50) NOT NULL,
	[idNL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CTSANPHAM] PRIMARY KEY CLUSTERED 
(
	[idSP] ASC,
	[idNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[idHD] [nvarchar](50) NOT NULL,
	[idNV] [nvarchar](50) NOT NULL,
	[idKH] [nvarchar](50) NOT NULL,
	[tongTien] [float] NULL,
 CONSTRAINT [PK_HOADONBAN] PRIMARY KEY CLUSTERED 
(
	[idHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[idKH] [nvarchar](50) NOT NULL,
	[hoTenKH] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[soDT] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[idKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[idKM] [nvarchar](50) NOT NULL,
	[idSP] [nvarchar](50) NOT NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[giamGia] [float] NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[idKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[idNL] [nvarchar](50) NOT NULL,
	[tenNL] [nvarchar](50) NOT NULL,
	[imgNL] [nvarchar](50) NOT NULL,
	[hanSD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[idNCC] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[soDT] [nvarchar](50) NOT NULL,
	[ghiChu] [text] NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[idNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[idNV] [nvarchar](50) NOT NULL,
	[hoTenNV] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[imgNV] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[soDT] [nvarchar](50) NOT NULL,
	[chucVu] [nvarchar](50) NOT NULL,
	[Sex] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[idSP] [nvarchar](50) NOT NULL,
	[tenSP] [nvarchar](50) NOT NULL,
	[imgSP] [nvarchar](50) NOT NULL,
	[moTaSP] [text] NOT NULL,
	[giaTienSP] [float] NOT NULL,
	[doAn] [bit] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[idSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/1/2020 10:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[idUSER] [nvarchar](50) NOT NULL,
	[idNV] [nvarchar](50) NULL,
	[taiKhoan] [nvarchar](50) NULL,
	[matKhau] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHOADONBAN]  WITH CHECK ADD  CONSTRAINT [fk_HOADONBAN_CTHOADONBAN] FOREIGN KEY([idHD])
REFERENCES [dbo].[HOADONBAN] ([idHD])
GO
ALTER TABLE [dbo].[CTHOADONBAN] CHECK CONSTRAINT [fk_HOADONBAN_CTHOADONBAN]
GO
ALTER TABLE [dbo].[CTHOADONBAN]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAM_CTHOADONBAN] FOREIGN KEY([idSP])
REFERENCES [dbo].[SANPHAM] ([idSP])
GO
ALTER TABLE [dbo].[CTHOADONBAN] CHECK CONSTRAINT [fk_SANPHAM_CTHOADONBAN]
GO
ALTER TABLE [dbo].[CTSANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_NGUYENLIEU_CTSANPHAM] FOREIGN KEY([idNL])
REFERENCES [dbo].[NGUYENLIEU] ([idNL])
GO
ALTER TABLE [dbo].[CTSANPHAM] CHECK CONSTRAINT [fk_NGUYENLIEU_CTSANPHAM]
GO
ALTER TABLE [dbo].[CTSANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SANPHAM_CTSANPHAM] FOREIGN KEY([idSP])
REFERENCES [dbo].[SANPHAM] ([idSP])
GO
ALTER TABLE [dbo].[CTSANPHAM] CHECK CONSTRAINT [fk_SANPHAM_CTSANPHAM]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [fk_HOADONBAN_KH] FOREIGN KEY([idKH])
REFERENCES [dbo].[KHACHHANG] ([idKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [fk_HOADONBAN_KH]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [fk_HOADONBAN_NV] FOREIGN KEY([idNV])
REFERENCES [dbo].[NHANVIEN] ([idNV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [fk_HOADONBAN_NV]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [fk_KHUYENMAI_SANPHAM] FOREIGN KEY([idSP])
REFERENCES [dbo].[SANPHAM] ([idSP])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [fk_KHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [fk_taikhoan_nhanvien] FOREIGN KEY([idNV])
REFERENCES [dbo].[NHANVIEN] ([idNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [fk_taikhoan_nhanvien]
GO
USE [master]
GO
